<!DOCTYPE html>
<html lang="en" class="wide wow-animation smoothscroll scrollTo">
  <head>
    <!-- Site Title-->
    <title>Masonry Blog 1 Column</title>
    <%- include('./layouts/head') -%>
  </head>
  <body>
    <!-- Page-->
    <div class="page text-center">
      <!-- Page Header-->
     
      <!-- Page Content-->
      <main class="page-content section-75 section-md-top-90 section-md-bottom-95">
        <!-- Blog-->
        <section>
          <div class="shell">
            <h1 class="text-spacing-inverse-50">Blog</h1>
            <div class="range range-xs-center offset-top-50">
              <div class="cell-sm-10 cell-md-8 cell-lg-6">
                <!-- Post Modern-->
                <article class="post post-modern">
                  <!-- Post media-->
                  <header class="post-media">
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe src="//www.youtube.com/embed/Vfhkmac5Bi8?wmode=transparent" class="embed-responsive-item"></iframe>
                    </div>
                  </header>
                  <!-- Post content-->
                  <section class="post-content text-left">
                    <div class="post-meta small pull-sm-right"><span class="icon icon-sm material-icons-ico material-icons-access_time text-turquoise text-middle"></span>
                      <time datetime="2016-01-01" class="text-extra-small text-middle inset-left-4 text-bold">2 days ago</time>
                    </div>
                    <div class="reveal-inline-block text-middle inset-left-6 inset-sm-left-0">
                      <!-- List inline marked-->
                      <ul class="list-inline list-marked list-marked-type-2 list-marked-type-2-dot-1 list-silver-chalice list-marked-silver-chalice font-accent text-bold text-spacing-inverse-25 inset-sm-left-4">
                        <li><a href="#" class="text-malibu">Luxury event</a></li>
                        <li><a href="#" class="text-malibu">Sport</a></li>
                        <li><a href="#" class="text-malibu">Yachts</a></li>
                      </ul>
                    </div>
                    <div class="veil reveal-xs-inline-block text-middle inset-xs-left-8 inset-md-left-0 inset-lg-left-8"><span class="icon icon-sm material-icons-ico material-icons-videocam"></span></div>
                    <!-- Post Title-->
                    <div class="post-title offset-top-20">
                      <p class="font-accent text-bold text-spacing-50 text-uppercase"><a href="blog-single-post.html" class="text-mine-shaft">Must-See Coastal Landscapes in Corsica</a></p>
                    </div>
                    <!-- Post Body-->
                    <div class="post-body offset-top-25">
                      <p class="text-spacing-0 text-extra-small">Corsica has 385 miles of coastline, more than 200 beaches, nature reserves, and mountain retreats. A gentle Mediterranean climate has promoted rich forests of evergreen and protects a wide variety of bird species and several endangered animals. Breathtaking natural landscapes on the Corsican coastline are only a short dinghy ride away from your charter yacht. Here are a few of our favorite landscapes worth sailing.</p>
                    </div>
                  </section>
                </article>
                <div class="offset-top-30">
                  <!-- Post Modern-->
                  <article class="post post-modern">
                    <!-- Post media-->
                    <header class="post-media"><img width="570" height="381" src="images/blog/post-30-570x381.jpg" alt="" class="img-responsive img-cover"></header>
                    <!-- Post content-->
                    <section class="post-content text-left">
                      <div class="post-meta small pull-sm-right"><span class="icon icon-sm material-icons-ico material-icons-access_time text-turquoise text-middle"></span>
                        <time datetime="2016-01-01" class="text-extra-small text-middle inset-left-4 text-bold">2 days ago</time>
                      </div>
                      <div class="reveal-inline-block text-middle inset-left-6 inset-sm-left-0">
                        <!-- List inline marked-->
                        <ul class="list-inline list-marked list-marked-type-2 list-marked-type-2-dot-1 list-silver-chalice list-marked-silver-chalice font-accent text-bold text-spacing-inverse-25 inset-sm-left-4">
                          <li><a href="#" class="text-malibu">Luxury event</a></li>
                          <li><a href="#" class="text-malibu">Sport</a></li>
                          <li><a href="#" class="text-malibu">Yachts</a></li>
                        </ul>
                      </div>
                      <div class="veil reveal-xs-inline-block text-middle inset-xs-left-8 inset-md-left-0 inset-lg-left-8"><span class="icon icon-sm material-icons-ico material-icons-image"></span></div>
                      <!-- Post Title-->
                      <div class="post-title offset-top-20">
                        <p class="font-accent text-bold text-spacing-50 text-uppercase"><a href="blog-single-post.html" class="text-mine-shaft">Debuting at Annapolis Sailboat Show</a></p>
                      </div>
                      <!-- Post Body-->
                      <div class="post-body offset-top-25">
                        <p class="text-spacing-0 text-extra-small">The North American debut of the Bali 4.0 will arrive at the Annapolis Spring Sailboat Show April 22-24th. The must see catamaran, Bali 4.0, is revolutionary in its class. Now is your chance to see this cat in person on the Chesapeake Bay.</p>
                      </div>
                    </section>
                  </article>
                </div>
                <div class="offset-top-30">
                  <!-- Post Modern-->
                  <article class="post post-modern">
                    <!-- Post content-->
                    <section class="post-content text-left">
                      <div class="post-meta small pull-sm-right"><span class="icon icon-sm material-icons-ico material-icons-access_time text-turquoise text-middle"></span>
                        <time datetime="2016-01-01" class="text-extra-small text-middle inset-left-4 text-bold">4 days ago</time>
                      </div>
                      <div class="reveal-inline-block text-middle inset-left-6 inset-sm-left-0">
                        <!-- List inline marked-->
                        <ul class="list-inline list-marked list-marked-type-2 list-marked-type-2-dot-1 list-silver-chalice list-marked-silver-chalice font-accent text-bold text-spacing-inverse-25 inset-sm-left-4">
                          <li><a href="#" class="text-malibu">Luxury event</a></li>
                          <li><a href="#" class="text-malibu">Sport</a></li>
                          <li><a href="#" class="text-malibu">Yachts</a></li>
                        </ul>
                      </div>
                      <div class="veil reveal-xs-inline-block text-middle inset-xs-left-8 inset-md-left-0 inset-lg-left-8"><span class="icon icon-sm material-icons-ico material-icons-create"></span></div>
                      <!-- Post Title-->
                      <div class="post-title offset-top-20">
                        <p class="font-accent text-bold text-spacing-50 text-uppercase"><a href="blog-single-post.html" class="text-mine-shaft">YACHTEC REMODELING COMPLETED</a></p>
                      </div>
                      <!-- Post Body-->
                      <div class="post-body offset-top-25">
                        <p class="text-spacing-0 text-extra-small">In early October Yachtec re-opened from its annual late Summer hiatus to show-off their brand new facilities for charter guests. The renovations include major upgrades to the resort’s open-air beachfront villas as well as our landmark restaurant, The Yachtec Steak & Grill and Windward Mark bar. Enhancements include new decor and custom furniture available in the central office of our company.</p>
                      </div>
                    </section>
                  </article>
                </div>
                <div class="offset-top-30">
                  <!-- Post Modern-->
                  <article class="post post-modern">
                    <!-- Post media-->
                    <header class="post-media">
                      <div class="post-inset section-top-34 section-bottom-0">
                        <div class="soundcloud-player-classic">
                          <iframe height="166" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/149065581&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                        </div>
                      </div>
                    </header>
                    <!-- Post content-->
                    <section class="post-content text-left">
                      <div class="post-meta small pull-sm-right"><span class="icon icon-sm material-icons-ico material-icons-access_time text-turquoise text-middle"></span>
                        <time datetime="2016-01-01" class="text-extra-small text-middle inset-left-4 text-bold">6 days ago</time>
                      </div>
                      <div class="reveal-inline-block text-middle inset-left-6 inset-sm-left-0">
                        <!-- List inline marked-->
                        <ul class="list-inline list-marked list-marked-type-2 list-marked-type-2-dot-1 list-silver-chalice list-marked-silver-chalice font-accent text-bold text-spacing-inverse-25 inset-sm-left-4">
                          <li><a href="#" class="text-malibu">Luxury event</a></li>
                          <li><a href="#" class="text-malibu">Sport</a></li>
                          <li><a href="#" class="text-malibu">Yachts</a></li>
                        </ul>
                      </div>
                      <div class="veil reveal-xs-inline-block text-middle inset-xs-left-8 inset-md-left-0 inset-lg-left-8"><span class="icon icon-sm mdi mdi-soundcloud"></span></div>
                      <!-- Post Title-->
                      <div class="post-title offset-top-20">
                        <p class="font-accent text-bold text-spacing-50 text-uppercase"><a href="blog-single-post.html" class="text-mine-shaft">EPIC TRIP REPORT</a></p>
                      </div>
                    </section>
                  </article>
                </div>
              </div>
            </div>
            <div class="offset-top-50">
              <!-- Classic Pagination-->
              <nav>
                <ul class="list-marked list-marked-type-2 list-marked-type-2-dot-1 list-marked-silver-chalice pagination-classic">
                  <li class="text-regular"><a href="#" class="icon icon-sm icon-primary material-icons-ico material-icons-chevron_left"></a></li>
                  <li class="active"><a href="#">01</a></li>
                  <li><a href="#">02</a></li>
                  <li><a href="#">03</a></li>
                  <li><a href="#">04</a></li>
                  <li><a href="#">05</a></li>
                  <li class="text-regular"><a href="#" class="icon icon-sm icon-primary material-icons-ico material-icons-chevron_right"></a></li>
                </ul>
              </nav>
            </div>
          </div>
        </section>
      </main>
      <!-- Page Footer-->
    <%- include('./layouts/footer') -%>
  </div>
  <!-- Global Mailform Output-->
  <%- include('./layouts/global') -%>
    <!-- Java script-->
    <%- include('./layouts/script') -%>
  </body>
</html>