
.search_list {
  text-align: left;
  padding-left: 20px;
  font-size: 18px;
  list-style-type: none;
  overflow: hidden;
}

.search_list li div {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  white-space: nowrap;
}

.search_list li:before {
  top: 6px;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.search_list li+li {
  margin-top: 25px;
}

.search_list h5+* {
  margin-top: 8px;
}

.search_list p {
  margin-bottom: 8px;
}

.search_list li:only-child::before {
  display: none;
}