<header class="page-header slider-menu-position">
      <!-- RD Navbar-->
      <div class="rd-navbar-wrap">
        <nav data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-md-stick-up-offset="50px" data-lg-stick-up-offset="1px" class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fullwidth"
          data-lg-layout="rd-navbar-static">
          <div class="rd-navbar-inner">
            <!-- RD Navbar Panel-->
            <div class="rd-navbar-panel">
              <!-- RD Navbar Toggle-->
              <button data-rd-navbar-toggle=".rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
              <!-- RD Navbar Brand-->
              <div class="rd-navbar-brand veil reveal-md-block">
                <a href="index.html" class="brand-name">
                  <img style='margin-top: -10px;' width='164' height='29' src='images/logo-164x29.png' alt='' />
                  </a>
              </div>
              <div class="rd-navbar-brand veil-md reveal-tablet-md-inline-block">
                <a href="index.html" class="brand-name">
                  <img style='margin-top: -7px;' width='128' height='24' src='images/logo-128x24.png' alt='' />
                  </a>
              </div>
              <!-- RD Navbar Toggle-->
              <button data-rd-navbar-toggle=".rd-navbar-collapse-wrap" class="rd-navbar-collapse"><span></span></button>
            </div>
            <div class="rd-navbar-right-side">
              <div class="rd-navbar-nav-wrap reveal-md-inline-block">
                <ul class="rd-navbar-nav">
                  <!-- RD Navbar Nav-->
                  <li class=""><a href="index.html">home</a></li>
                  <li><a href="about.html">About</a>
                    <ul class="rd-navbar-dropdown">
                      <li><a href="faq.html">FAQ</a></li>

                    </ul>
                  </li>
                  
                  <li><a href="events.html">Events</a></li>
                  <li><a href="yachts.html">Yachts</a>
                    <ul class="rd-navbar-dropdown">
                      <li><a href="yachts-grid.html">grid view</a></li>
                      <li><a href="yachts.html">list view</a></li>
                      <li><a href="cart.html">cart page</a></li>
                      <li><a href="single-product.html">single product</a></li>
                    </ul>
                  </li>                  
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>